<script type ="text/ng-template" id="sanji-navbar.tpl.html">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu"
      ng-click="vm.toggleSidebarCallback()">
        <md-tooltip>
          <span translate="NAVBAR_TOOLTIP_MENU"></span>
        </md-tooltip>
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <div class="logo-wrap">
        <img ng-src="{{::vm.data.config.logo.url}}"
        width="{{::vm.data.config.logo.width}}"
        height="{{::vm.data.config.logo.height}}">
      </div>
      <span class="md-subhead" ng-bind="vm.data.config.modelName"></span>
      <span flex></span>
      <ng-letter-avatar data="{{vm.user.name}}" shape="round" width="40" height="40"></ng-letter-avatar>
      <md-menu md-offset="0 59" md-position-mode="target-right target">
        <md-button class="capitalize md-button" aria-label="Account"
        ng-click="$mdOpenMenu($event)">
          <span ng-bind="vm.user.name"></span>
          <ng-md-icon icon="arrow_drop_down"></ng-md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button aria-label="Link to profile" ng-click="vm.toProfileCallback()">
              <ng-md-icon icon="account_circle"></ng-md-icon>
              <span translate="NAVBAR_PROFILE"></span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Link to logout" ng-click="vm.logoutCallback()">
              <ng-md-icon icon="logout"></ng-md-icon>
              <span translate="NAVBAR_LOGOUT"></span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu md-offset="0 64" md-position-mode="target-right target">
        <md-button class="md-icon-button" aria-label="Language"
        ng-click="$mdOpenMenu($event)">
          <md-tooltip>
            <span translate="NAVBAR_TOOLTIP_I18N"></span>
          </md-tooltip>
          <ng-md-icon icon="language"></ng-md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item ng-repeat="item in vm.data.lang track by $index">
            <md-button aria-label="{{::item.label}}"
            ng-click="vm.changeLang(item)" ng-bind="::item.label"></md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button class="md-icon-button" aria-label="Notification"
      ng-click="vm.toggleNotificationCallback()">
        <md-tooltip>
          <span translate="NAVBAR_TOOLTIP_NOTIFICATION"></span>
        </md-tooltip>
        <ng-md-icon icon="notifications_none"></ng-md-icon>
        <span class="notification-label" ng-if="0 < vm.unreadCount"
          ng-bind="9 < vm.unreadCount ? '9+' : vm.unreadCount"></span>
      </md-button>
    </div>
  </md-toolbar>
</script>
