<script type="text/ng-template" id="sanji-navbar.notification.tpl.html">

<div ng-repeat="notification in $ctrl.notifications track by $index">
  <div id="notification-category" class="notification-category">
    <div id="notification-category-info" class="notification-category-info" ng-if="notification.category === 'info'">
      <p class="title" translate="NAVBAR_NOTIFICATION_CATEGORY_INFO"></p>
      <md-menu-item class="notification-item" ng-repeat="item in notification.items track by $index">
        <a href="{{item.url}}" translate={{item.name}}></a>
      </md-menu-item>
    </div>
  </div>
</div>

</script>
