<script type="text/ng-template" id="sanji-navbar.notification.tpl.html">

<md-subheader class="md-primary notification-header" translate="NAVBAR_NOTIFICATION_CATEGORY_INFO"></md-subheader>
<div ng-repeat="notification in $ctrl.notifications track by $index">
    <md-menu-item id="{{notification.name}}" class="notification-item"
      ng-click="$ctrl.show(notification)">
      <ng-md-icon icon="info_outline"> </ng-md-icon>
      <span class="item-name" translate="{{notification.name}}"></span>
    </md-menu-item>
</div>

</script>
