<script type="text/ng-template" id="sanji-navbar.tpl.html">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu"
      ng-if="$ctrl.data.config.isShowMenu"
      ng-click="$ctrl.toggleSidebarCallback()">
        <md-tooltip>
          <span translate="NAVBAR_TOOLTIP_MENU"></span>
        </md-tooltip>
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <div class="logo-wrap">
        <a href="/">
          <img ng-src="{{::$ctrl.data.config.logo.url}}"
          width="{{::$ctrl.data.config.logo.width}}"
          height="{{::$ctrl.data.config.logo.height}}">
        </a>
      </div>
      <span class="md-subhead" ng-if="$ctrl.data.config.modelName" ng-bind="$ctrl.data.config.modelName"></span>
      <span flex></span>
      <ng-letter-avatar ng-if="$ctrl.data.config.isShowAccount"
      data="{{$ctrl.user.name}}" dynamic="true"
      shape="round" width="40" height="40"></ng-letter-avatar>
      <md-menu ng-if="$ctrl.data.config.isShowAccount"
        md-offset="0 59" md-position-mode="target-right target">
        <md-button class="capitalize md-button" aria-label="Account"
        ng-click="$mdMenu.open($event)">
          <span ng-bind="$ctrl.user.name"></span>
          <ng-md-icon icon="arrow_drop_down"></ng-md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button aria-label="Link to profile" ng-click="$ctrl.toProfileCallback()">
              <md-icon ng-md-icon icon="account_circle"></md-icon>
              <span translate="NAVBAR_PROFILE"></span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Link to logout" ng-click="$ctrl.logoutCallback()">
              <md-icon ng-md-icon icon="logout"></md-icon>
              <span translate="NAVBAR_LOGOUT"></span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <!-- Notification Icon -->
      <md-menu id="navbar-notification" md-offset="0 60" md-position-mode="target-right target"
      ng-if="$ctrl.data.config.isShowNotification">
      <md-button class="md-icon-button" aria-label="Notification"
        ng-mouseenter="$mdMenu.open($event)">
        <md-tooltip>
          <span translate="NAVBAR_TOOLTIP_NOTIFICATION"></span>
        </md-tooltip>
        <ng-md-icon icon="notifications_none" class="notification-active"></ng-md-icon>
      </md-button>
        <md-menu-content>
          <notification-container notifications="$ctrl.data.notifications"></notification-container>
        </md-menu-content>
      </md-menu>
      <!-- // End -->

      <!-- Select Language Icon-->
      <md-menu md-offset="0 60" md-position-mode="target-right target">
        <md-button class="md-icon-button" aria-label="Language"
        ng-click="$mdMenu.open($event)">
          <md-tooltip>
            <span translate="NAVBAR_TOOLTIP_I18N"></span>
          </md-tooltip>
          <ng-md-icon icon="language"></ng-md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item ng-repeat="item in $ctrl.data.lang track by $index">
            <md-button aria-label="{{::item.label}}"
            ng-click="$ctrl.changeLang(item)" ng-bind="::item.label"></md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <!-- // End -->

      <!-- Control Service Icon-->
      <md-button class="md-icon-button" aria-label="Control Service"
      ng-if="::($ctrl.data.config.isShowControlPanel && $ctrl.isAuthorized(['root', 'admin']))"
      ng-click="$ctrl.toggleControlPanelCallback()">
        <md-tooltip>
          <span translate="NAVBAR_TOOLTIP_CONTROL_PANEL"></span>
        </md-tooltip>
        <ng-md-icon icon="settings"></ng-md-icon>
      </md-button>
      <!-- // End -->

    </div>
  </md-toolbar>
</script>
