$notification-active-color: #f4e842;

.logo-wrap {
  margin-right: 20px;
  padding-top: 3px;
}

.notification-item {
  font-size: 16px;
  max-width: 300px;
  cursor: pointer;
}

.notification-header {
  padding: 1em;
  font-size: 16px;
}

@-webkit-keyframes spaceboots {
  0% {
  }
  70%,73% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  77%,83%,90%,97%  {
    transform: translate(0px, 0px) rotate(15deg);
  }
  80%,87%,93%{
    transform: translate(0px, 0px) rotate(-15deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
.notification-active,
.notification-active{
  fill: $notification-active-color;
  animation: spaceboots 3s 0s both infinite;
}
